/*importing from google the  fonts*/
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');
/*background for the page*/
body {
    background-color: #e9e9e9;
}

/*styling header*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
/*the logo*/
.logo {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    align-items: center;
}
/*the navgation*/
.navlinks {
    color: rgb(12, 12, 12);
    display: flex;
    text-align: center;
    gap: 100px;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: -20px;
    margin-left: -40px;
}

li {
    padding: 60px;
}

/*the content of the page*/
/*styling main div desktop_design*/
.desktop_design {
    background-color: white;
    padding: 20px;
    margin-left: 200px;
    width: 1050px;
    height: 1900px;

}
/*the main content*/
.main-para h1,h2, h3, h4{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;      
}
.main-para P{font-size: larger;}

.desktop_design p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
}
/*styling 3 columns*/
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
/*style the images*/
.one_images {
   align-items: center;
   margin-left: -10px;
   width: 600px;
}

img {
  object-fit:cover;
  height: 100%;
  width: 100%;
}

.one_images img{
    height: auto;
    height: 550px;
    width: 550px;
  }

.two_images1, .two_images2 {
  height: 270px;
  width: 270px;
}

.two_images1 {
  margin-left: 530px;
  margin-top: -550px;
}

.two_images2 {
  margin-left: 800px;
  margin-top: -270px;
}
/*styling author*/
.author{margin-top: 35%;
text-align: left;
margin-left: 150px;
margin-right: 195px;
}

.author img{width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
     margin-left: 690px;
     margin-top: -500px;
   
}

h2{text-align: center;}
/*styling footer*/
footer {
  background-color: #272727;
  text-align: center;
  padding: 20px;
  color: white;
}
/* Media Queries */

/* For Mobiles small and large */
/*for mobile small and large*/
@media (min-width: 360px) and (max-width:540px) {
  .logo {margin-left: 20px;
    width: 80px;
  }
  .navlinks{margin-left: 20px;
  gap: 5px;
}
  .logo{width:80px}
  .desktop_design {
    background-color: white;
    padding: 20px;
    margin-left: -1px;
    width: 700px;
    height: 4100px;
  }
  .main-para{
    text-align: center;}
  .main-para p{text-align: left;}
  .row {margin-left: 150px;
    width: 5px;
        margin-top: 20px;
}
.one_images{margin-left: 47px;}
.two_images1{margin-top: 1px;
  margin-left: 100px;
}
.two_images2{margin-left:350px;
}
.author{margin-top: 45%;
  text-align: left;
  margin-left: 90px;
 
  }
h2{text-align: left;}
.author img{margin-left:450px;
margin-bottom: 20px;}
}
/*for large mobile*/
@media(min-width:540px)and (max-width:720px)
{ .logo {
  width: 80px;
}
.logo{width:80px}
.desktop_design {
  background-color: white;
  padding: 20px;
  margin-left: 25px;
  width: 800px;
  height: 4000px;
}
.main-para{
  text-align: center;}
.main-para p{text-align: left;}
.row {margin-left: 150px;
  width: 5px;
      margin-top: 20px;
}
.one_images{margin-left: 47px;}
.two_images1{margin-top: 1px;
  margin-left: 100px;
}
.two_images2{margin-left:350px;
}

.author{margin-top: 35%;
text-align: left;
margin-left: 90px;

}
h2{text-align: left;}
.author img{margin-left:550px;}
}
/* For Tablet */
@media (min-width: 720px) and (max-width:1024px){
  
  .logo {
    width: 80px;
  }
  .logo{width:80px}
  .desktop_design {
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    width: 800px;
    height: 4000px;
  }
  .main-para{
    text-align: center;}
  .main-para p{text-align: left;}
  .row {margin-left: 150px;
    width: 5px;
        margin-top: 20px;
}
.one_images{margin-left: 47px;}
.two_images1{margin-top: 1px;
  margin-left: 100px;
}
.two_images2{margin-left:350px;
}

.author{margin-top: 35%;
  text-align: left;
  margin-left: 90px;
 
  }
h2{text-align: left;}
.author img{margin-left:550px;}
}


/* For Desktop */
@media (min-width: 1024px) {
  .desktop_design {
    background-color: white;
    padding: 20px;
    margin-left: 200px;
    width: 1050px;
    height: 1900px;
  }

  .main-para h1, h2, h3, h4 {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
  }
  .main-para p {
    font-size: larger;
  }

  .desktop_design p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  .one_images {
    align-items: center;
    margin-left: -10px;
    width: 600px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .one_images img {
    height: auto;
    height: 550px;
    width: 550px;
  }

  .two_images1, .two_images2 {
    height: 270px;
    width: 270px;
  }

  .two_images1 {
    margin-left: 530px;
    margin-top: -550px;
  }

  .two_images2 {
    margin-left: 800px;
    margin-top: -270px;
  }
  .author {
    margin-top: 35%;
    text-align: left;
    margin-left: 150px;
    margin-right: 195px;
  }

  .author img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 690px;
    margin-top: -500px;
  }

  h2 {
    text-align: center;
  }
  footer {
    background-color: #272727;
    text-align: center;
    padding: 20px;
    color: white;
  }
}