 /*importing forts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap');
/*font for heading*/
.heading h2{font-family: "Teko", serif;
    font-style: normal;
   font-size: 1.5em;
}
h1{margin-left: 15px;}
  
/*font for paragraph*/   
.paragraph{font-family: "Teko", serif;
          font-style: normal;
       font-size: 1.5em;
    }
/*styling body*/
body {
   background-color: #4DCCBD;
}
/*styling header*/
header {
   background-color: #FFFFFF;
   box-shadow: 2 4px 5px rgba(0, 0, 0, 0.307);
   display: flex;
   align-items: center;
   max-width: 100%;
   max-height: 200px;
 
  
}


/*navagation*/
.navlinks {
   display: flex;
   gap: 48px;
   list-style: none;
  padding: 1%;
   margin-left: 20%;
}

li {
   font-size: 20px; /* navagation's font size */
   align-items: center;
}

/*  search button */

.search {
   font-size: 2em;
   background-color:#231651; 
   color:white;
    border-radius: 5px;
    padding:16px;
    margin-right: 100px;
    margin-left: 20%;
   
}

.poster_1{height: 500px;
width: 880px;

}
.poster_2{height:400px;
     width:400px}
.poster_3{ height:"390px";
      width:400px}
.poster_4{height:470px;width:450px}

 /* Responsive Styling */
    /*for mobiles*/
    @media (min-width: 360px) and (max-width:720px){
        header{margin:16px;
        padding:16px;
    gap:16px}
    }
    /*for tablet*/
    @media (min-width: 720px) and (max-width:1024px) {
        header {
            padding: 8px 32px; 
        }
        .heading {
            font-size: 3em; 
        }
        .navlinks {
            gap: 32px;
        }
    }



    
    /*for Desktop*/
    @media (min-width: 1024px) {
         
         header {
            padding:6px 9px;
             font-size:3em;
           
        }
/*styling div of  who-framed-roger-rabbit*/
 .who-framed-roger-rabbit{
    margin-top: 5%;
   display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-right: 15%;
    margin-left: 15%;
    width: 900px;
  }
  div.rabbit {background-color: #EEF36A;
    text-align: center;
   flex-basis: 170px;/*allowing to make img small and big within the layout*/
  margin: 48px;
width: 880px;
    height: auto;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.307);
  margin-left: 13%;
 
}
div.poster_1{width: 800px;
    height: 500px;}
div .detail {
    text-align: left;
    padding: 0;
    margin-left: 5%;
 
}

button.watch_now{background-color: #231651;
    color: white;
     font-size: 2em;
    font-family: "Teko", sans-serif;
    border-radius: 5px;
   margin-left: 71%;
padding:48px;
margin-top: -150px;
margin-bottom: 20px;
width: 190px;

}

/*styling div for hook*/
.movie_2_and_3 {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    gap: 1px;
 
}

  div.Hook {background-color: #070410;
     color: white;
   flex-basis: 170px;
    margin-top: 49px;
     width: auto;
    height: 900px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.307);
}
div.poster_2{width: 500px;
    height: 400px;}
div.detail_2 {
    text-align: left;
    padding: 16px;
}

button.watch_now_1{ background-color: #231651;
    color: white;
    font-size: 2em;
    font-family: "Teko", sans-serif;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 20%;
padding:16px;
margin-bottom: 1%;}

/*styling for div of la-la-land movie*/

.movie_2_and_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  gap:0px;
   
}

  div.la-la-land { background-color: #070410;
    color: white;
  flex-basis: 170px;
 margin: 50px;
 width: auto;
   height: 900px;
   box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.307);
gap:15px;

 
}
div.poster_3{width: 500px;
    height: auto;}
div.detail_3 {
    text-align: left;
    padding: 5px;
}

button.watch_now_2{ background-color: #231651;
    color: white;
    font-size: 2em;
    font-family: "Teko", sans-serif;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 25%;
    margin-left: 25%;
padding:16px;
}

/*styling for hidden figures*/
.hidden_figures {margin-top: 1%;
    display: grid;
    grid-template-columns: 650px 1fr;
    margin-left: 5%;
  
   
}

div.hidden { background-color:  #EEF36A;;
    color: white;
  flex-basis: 100px;
 margin-left: 190px;
 width: 910px;
   height: 470px;
   box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.307);
    margin-right: 10%;
 
}
div.poster_4{width: 500px;
    height: auto;
padding-left: 10%;}
div.detail_4 {
    text-align: left;
    padding: 5px;
    margin-right: 40%;
    
}


button.watch_now_3{ background-color: #231651;
    color: white;
    font-size: 2em;
    font-family: "Teko", sans-serif;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 10%;
padding:16px;
margin-bottom: 8%;}

/*styling of palm-spring movie div*/
.palm-springs {
    display: grid;
    grid-template-columns: 650px 1fr;
    margin-left: 5%;
    padding-top: 2%;
  
   
}

div.palm { background-color:  #EEF36A;;
    color: white;
  flex-basis: 100px;
 margin-left: 190px;
 width: 910px;
   height: 470px;
   box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.307);
    margin-right: 10%;
 
}
div.poster_5{width: 500px;
    height: auto;
padding-left: 10%;}
div.detail_5 {
    text-align: left;
    padding: 5px;
    margin-right: 48%;
    
}


button.watch_now_4{ background-color: #231651;
    color: white;
    font-size: 2em;
    font-family: "Teko", sans-serif;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 10%;
padding:16px;
margin-bottom: 8%;}
/*styling of barbie div*/
.barbie {
    display: grid;
    grid-template-columns: 650px 1fr;
    margin-left: 5%;
    padding-top: 2%;
  
   
}

div.bar_bie { background-color:  #EEF36A;;
    color: white;
  flex-basis: 100px;
 margin-left: 190px;
 width: 910px;
   height: 470px;
   box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.307);
    margin-right: 10%;
 
}
div.poster_6{width: 500px;
    height: auto;
padding-left: 10%;}
div.detail_6 {
    text-align: left;
    padding: 5px;
    margin-right: 48%;
    
}


button.watch_now_5{ background-color: #231651;
    color: white;
    font-size: 2em;
    font-family: "Teko", sans-serif;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 10%;
padding:16px;
margin-bottom: 8%;}
    }







   
   
   

   